/* STRUCTURAL LAYOUT */
#inner {
	/* Positioning & notional dimensions */
	position: absolute; width: 504px; margin-left: -252px;	/* width/2 */ left: 50%;
	top:  38px;							/* try 100px */
}
#title { position: absolute; top:  18px; width: 1008px; margin-left: -504px; /* width/2 */ left: 50%;}
/* Added class for switching between male & female results... */
.switch { margin-bottom: -20px; }